.smoothie-ingredients-section {
    width: 100%;
    font-family: Work Sans, Nunito, sans-serif;
}

.smoothie-ingredients-grid {
    display: flex;
    flex-wrap: wrap;
}

.smoothie-ingredient-item {
    flex: 0 1 calc(10%);
    background-size: cover;
    background-position-x: -10px;
    height: calc(10vw);
}

@media screen and (max-width: 960px) {
    .smoothie-ingredient-item {
        flex: 0 1 calc(25%);
        height: calc(20vw);
    }
}

.smoothie-ingredient-item h4 {
    margin: 0;
    font-size: 0.8em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-weight: 700;
}

.smoothie-ingredient-item-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.30);
}

.smoothie-ingredient-item#mango {
    background-image: url(https://s3-us-west-2.amazonaws.com/big-orange/mango.jpg);
}

.smoothie-ingredient-item#spinach {
    background-image: url(https://s3-us-west-2.amazonaws.com/big-orange/spinach.jpg);
}

.smoothie-ingredient-item#banana {
    background-image: url(https://s3-us-west-2.amazonaws.com/big-orange/banana.jpg);
}

.smoothie-ingredient-item#blueberry {
    background-position: initial;
    background-image: url(https://s3-us-west-2.amazonaws.com/big-orange/blueberry.jpeg);
}

.smoothie-ingredient-item#kale {
    background-image: url(https://s3-us-west-2.amazonaws.com/big-orange/kale);
}

.smoothie-ingredient-item#pineapple {
    background-image: url(https://s3-us-west-2.amazonaws.com/big-orange/pineapple.jpg);
}

.smoothie-ingredient-item#strawberry {
    background-image: url(https://s3-us-west-2.amazonaws.com/big-orange/strawberry.jpg);
}

.smoothie-ingredient-item#acai {
    background-image: url(https://s3-us-west-2.amazonaws.com/big-orange/acai.jpeg);
}

.smoothie-ingredient-item#coconut {
    background-image: url(https://s3-us-west-2.amazonaws.com/big-orange/coconut.jpg);
}

.smoothie-ingredient-item#watermelon {
    background-image: url(https://s3-us-west-2.amazonaws.com/big-orange/watermelon.jpg);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.header {
    width: 100%;
    height: 60px;
    position: absolute;
}

.header-list {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
    align-items: center;
    position: relative;
}

.header-list li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    transition: all 0.3s ease;
}

.header-list li:hover {
    color: darkorange;
}

.contact-item {
    position: absolute;
    right: 30px;
}

li.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-flex;
    align-items: center;
    background-color: white;
    height: 120%;
}

li.logo:hover {
    transform: translateX(-50%) translateY(-45%);
}

.logo img {
    height: 40px;
}

.banner {
    /*background-image: url('banner.png');*/
    height: 100%;
    background-size: cover;
}

.banner-overlay {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
}

.contactUs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox {
    text-align: center;
    color: white;
    background-color: darkorange;
    margin-top: -10px;
}

.textbox1 {
    text-align: center;
    font-weight: lighter;
}

.textbox1:hover {
    color: darkorange;
}

.textbox2 {
    text-align: center;
    color: darkorange;
}

.header-list1 {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
    align-items: center;
    position: relative;
}

.header-list1 li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    color: darkorange;
    transition: all 0.3s ease;
}

.header-list1 li:hover {
    color: black;
}

.heads {
    margin-left: 40px;
}

li.logo1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-flex;
    align-items: center;
    background-color: navajowhite;
    height: 120%;
}

li.logo1:hover {
    transform: translateX(-50%) translateY(-45%);
}

.logo1 img {
    height: 40px;
}

.bbt {
    margin-top: 70px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/bbt.png');
}

.bbt-overlay {
    width: 50%;
    margin: 0 auto;
}


/* NEW!! LOVE YOU!! */

.menu-item-content {
    text-align: center;
}

.menu-item-title {
    text-align: center;
    color: darkorange;
}

.menu-bar {
    color: darkorange;
    background-color: darkorange;
    width: 300px;
    height: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: 40px;
}

.mango {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -30px;
    background-image: url('images/mango.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.menu-bar1 {
    color: darkorange;
    background-color: darkorange;
    width: 300px;
    height: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}

.smoothie {
    margin-top: 50px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/smoothie.png');
}

.smoothie-overlay {
    width: 50%;
    margin: 0 auto;
}

.juice {
    margin-top: 50px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/juice.png');
}

.juice-overlay {
    width: 50%;
    margin: 0 auto;
}

.menu-item-title1 {
    text-align: center;
    color: black;
}

.menu-bar2 {
    color: black;
    background-color: black;
    width: 300px;
    height: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}

=======a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.header {
    width: 100%;
    height: 60px;
    position: absolute;
}

.header-list {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
    align-items: center;
    position: relative;
}

.header-list li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    transition: all 0.3s ease;
}

.header-list li:hover {
    color: darkorange;
}

.contact-item {
    position: absolute;
    right: 30px;
}

li.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-flex;
    align-items: center;
    background-color: white;
    height: 120%;
}

li.logo:hover {
    transform: translateX(-50%) translateY(-45%);
}

.logo img {
    height: 40px;
}

.banner {
    /*background-image: url('banner.png');*/
    height: 100%;
    background-size: cover;
}

.banner-overlay {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
}

.contactUs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox {
    text-align: center;
    color: white;
    background-color: darkorange;
    margin-top: -10px;
}

.textbox1 {
    text-align: center;
    font-weight: lighter;
}

.textbox1:hover {
    color: darkorange;
}

.textbox2 {
    text-align: center;
    color: darkorange;
}

.header-list1 {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
    align-items: center;
    position: relative;
}

.header-list1 li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    color: darkorange;
    transition: all 0.3s ease;
}

.header-list1 li:hover {
    color: black;
}

.heads {
    margin-left: 40px;
}

li.logo1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-flex;
    align-items: center;
    background-color: navajowhite;
    height: 120%;
}

li.logo1:hover {
    transform: translateX(-50%) translateY(-45%);
}

.logo1 img {
    height: 40px;
}

.bbt {
    margin-top: 70px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/bbt.png');
}

.bbt-overlay {
    width: 50%;
    margin: 0 auto;
}


/* NEW!! LOVE YOU!! */

.menu-item-content {
    text-align: center;
}

.menu-item-title {
    text-align: center;
    color: darkorange;
}

.menu-bar {
    color: darkorange;
    background-color: darkorange;
    width: 300px;
    height: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: 40px;
}

.mango {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -30px;
    background-image: url('images/mango.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.menu-bar1 {
    color: darkorange;
    background-color: darkorange;
    width: 300px;
    height: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}

.smoothie {
    margin-top: 50px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/smoothie.png');
}

.smoothie-overlay {
    width: 50%;
    margin: 0 auto;
}

.juice {
    margin-top: 50px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/juice.png');
}

.juice-overlay {
    width: 50%;
    margin: 0 auto;
}

.menu-item-title1 {
    text-align: center;
    color: black;
}

.menu-bar2 {
    color: black;
    background-color: black;
    width: 300px;
    height: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}

.store {
    margin-top: 30px;
    background-image: url('images/store.jpg');
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
}

.store-overlay {
    background: rgba(255, 140, 0, 0.4);
    width: 50%;
    height: auto;
    color: floralwhite;
    text-align: center;
    padding-top: 50%;
    padding-bottom: 50%;
}

.contact-container {
    margin-top: 30px;
    background-image: url('images/store.jpg');
    color: #fff;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-overlay {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    background-color: rgba(255, 140, 0, 0.4);
}